
@mixin justify($justify){
    display: flex;
    justify-content: $justify;
}


#FRuleta{
    margin-left: 10px;
    margin: 40px;
    width: 700px;
    height: 700px;
    border-radius: 50%;
}
.Rl{
    @include justify(center);
}
.Bordes{
    margin: 2px;
    border: 3px solid map-get($colores, color2 );
}
.MRuleta{
    display:grid;
    margin-top: 120px;
    margin-right: 400px;
    grid-template-rows: 130px 130px 80px 30px;
    grid-template-columns: 82px 82px 82px 82px 82px;

    grid-template-areas:
    "Exp Exp Exp Exp Exp"
    "ExpTime ExpTime ExpTime Tiempo Tiempo "
    "Apuestas Apuestas Apuestas Apuestas Load"
    "Monto Monto Monto Monto Monto"
    ;
}
.MFondo{
    background-color: map-get($colores, color3 );
}
.Exp{
    grid-area: Exp;
}
.ExpTime{
    grid-area: ExpTime;
}
.Tiempo{
    grid-area: Tiempo;
}
.Apuestas{
    margin-top: 3px;
    display: flex;
    grid-area: Apuestas;
}
.Load{
    grid-area: Load;
}
.Monto{
    grid-area: Monto;
}